@media(max-width: 1024px){
	.navbar-nav{
		margin: auto;
	}
	.nav-item{
		padding-left: 30px;
	}
	.about{
		width: 80%;
	}
	.container-items{
		width: 90%;
	}
	.container-lables{
		width: 70%;
	}
	.info-container{
		width: 90%;
	}
	.footer-menu ul li a{
		padding: 15px;
	}
}

@media(max-width: 768px){
	.nav-item{
		padding: 0;
	}
	.container-for-slider{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.navbar-brand{
		padding-bottom: 20px;
	}
	.read-more{
		padding: 0 0 50px 50px;
	}
	.about h2{
		font-size: 25px;	
	}
	.about p{
		font-size: 15px;
	}
	.about h2::before{
		left: -40px;
	}
	.container-items{
		display: block;
	}
	.item-right{
		width: 100%;
	}
	.item-right h3{
		padding-bottom: 20px;
	}
	.info p{
		text-align: center;
	}
	.posted::before{
		left: 0;
}
	.bx-wrapper{
	margin: 0 auto 50px auto;
}
.show{
	padding: 50px;
}
.wrapper{
	width: 100%;
}
.triangle-down{
	right: 80px;
	bottom: 40px;
}
.about{
	margin-bottom: 0;
}
.container-lables{
	width: 80%;
}
.info-left h2{
font-size: 50px;
}
.info-left span{
	font-size: 50px;
}
.info-left p{
	font-size: 15px;
}
.info-centr h2{
	font-size: 30px;
}
.info-centr p{
	font-size: 15px;
}
.info-right h2{
	font-size: 30px;
}
.info-right p{
	font-size: 15px;
}
.footer-container{
	width: 90%;
	margin: auto;
}
.footer-menu ul li a{
	font-size: 20px;
	padding: 10px;
}

}

@media(max-width:425px){
	.slide img{
		display: none;
	}
	.slide{
		width: 100%;
		margin: auto;
	}
	.slide-advice{
		padding-top: 20px;
	}
	.slide-text{
		width: 80%;
		margin: auto;
		padding: 30px 0 30px 0;
		text-align: center;
	}
	.slide-title{
		font-size: 35px;
		text-align: center;
	}
	.slide-subtitle{
		font-size: 15px;
		text-align: center;
	}
	.about{
		display: block;
		width: 90%;
		margin: auto;
	}
	.about h2::before{
		left: 70px;
		top: 40px;
	}
	.about p{
		padding: 0 0 30px 0;
		text-align: center;
		line-height: 1.8;
	}
	.about h2{
		text-align: center;
	}
	.read-more{
		padding:0 0 50px 0;
		text-align: center;
	}
	.item-right{
		text-align: center;
	}
	.posted::before{
		left: -50px;
	}
	.info-link{
	width: 70%;
		margin: auto;
	}
	.show{
	padding:0 60px 10px 60px;
	}
	.item-slider h3{
	font-size: 25px;
	}
	.item-slider p{
		font-size: 15px;
	}
	.triangle-down{
		right: 80px;
		bottom: 0;
	}
	.container-lables{
		width: 100%;
		margin: auto;
	}
	.container-bottom{
		margin: 50px 0;
	}
	.bx-prev{
		top: 100px !important;
	}
	.bx-next{
		top: 100px !important;
	}
	.info-container{
		display: block;
	}
	.info-centr{
		padding: 50px 0;
	}
	.footer{
		height: 100px;
	}
	.footer-menu{
		display: none;
	}
	.developed{
		margin: auto;
	}
}
	

@media(max-width:375px){
	.about h2::before{
		left: 50px;
		top: 40px;
}
	.about p{
		line-height: 1.8;
	}
	.about-right h2::before{
		left: 50px !important;
	}
	.parent-container{
		margin-top: 20px;
	}
	.item-slider p{
		font-size: 13px;
	}
	.item-slider h3{
		font-size: 20px;
	}
}

	@media(max-width: 320px){
		.container-for-slider{
			justify-content: center;
		}
		.slide-text{
			padding: 30px 20px;
			width: 90%;
			margin: auto;
			text-align: center;
		}
		.about{
			width: 90%;
			margin: auto;
		}
		.about p{
			line-height: 1.8;
		}
		.about h2::before{
			left: 20px !important;
			top: 45px;
		}
		.read-more{
			padding-left: 0;
			text-align: center;
		}
		.parent-container{
			margin-top: 0;
		}
		.container-items{
			padding: 10px;
		}
		.info{
			font-size: 15px;
			line-height: 1.5;
		}
		.item-right h3{
			font-size: 25px;
			text-align: left;
		}
		.info-link{
			width: 100%;
			margin: auto;
			text-align: center;
		}
		.info-link a{
			font-size: 20px;
			padding-right: 0;
		}
		.item-slider p{
			font-size: 10px;
		}
		.item-slider h3{
			font-size: 17px;
		}
		.bx-viewport{
			height: 315px;
		}
		}
	
