@media(max-width: 1024px){
	.navbar-nav{
		margin: auto;
	}
	.nav-item{
		padding-left: 30px;
	}
	.about{
		width: 80%;
	}
}

@media(max-width: 768px){
	.nav-item{
		padding: 0;
	}
	.container-for-slider{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.navbar-brand{
		padding-bottom: 20px;
	}
	.read-more{
		padding: 0 0 50px 50px;
	}
	.about{
		margin: auto;	
	}
	.about p{
		padding: 0 50px 50px 0;
	}
}

@media(max-width:425px){
	.slide img{
		display: none;
	}
	.slide{
		width: 100%;
		margin: auto;
	}
	.slide-advice{
		padding-top: 20px;
	}
	.slide-text{
		width: 80%;
		margin: auto;
		padding: 30px 0 30px 0;
		text-align: center;
	}
	.slide-title{
		font-size: 35px;
		text-align: center;
	}
	.slide-subtitle{
		font-size: 15px;
		text-align: center;
	}
	.about{
		display: block;
		width: 90%;
		margin: auto;
	}
	.about h2::before{
		display: none;
	}
	.about p{
		padding-right: 0;
		text-align: center;
	}
	.about h2{
		text-align: center;
	}
	.read-more{
		padding:0 0 50px 0;
		text-align: center;
	}
}

	@media(max-width: 320px){
		.container-for-slider{
			justify-content: center;
		}
		.slide-text{
			padding: 30px 20px;
			width: 90%;
			margin: auto;
			text-align: center;
		}
		.about{
			width: 90%;
			margin: auto;
		}
		.read-more{
			padding-left: 0;
			text-align: center;
		}
		}
	
