@font-face{
	font-family:LeagueGothic;
	src: url(./fonts/LeagueGothic/LeagueGothicRegular.ttf);
}
@font-face{
	font-family: Nunitosans;
	src: url(./fonts/nunitosans/Nunitosansregular.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header{
		background: url(./img/bg\ header.jpg)no-repeat;
    max-width: 100%;
    height: auto;
		background-size: cover;
		background-position: center center;
		padding: 50px 0;
}	
.navbar-brand{
	padding-bottom: 30px;
}
.nav-link{
	text-transform: uppercase;
	color: white !important;
	font-size: 24px;
	font-family:LeagueGothic;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
}
.nav-item{
	padding-left: 50px;
}
.nav-link p{
	border-bottom: 2px solid plum;
	padding-bottom: 2px;
}
.container-head{
	width: 100%;
	margin: auto;
	background: rgba(0,0,0,0.2);
}
.container-for-slider{
	width: 80%;
	margin: 0 auto 0 auto;
}
.slide{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slide-text{
	width: 45%;
	padding-left: 80px;
}
.slide video{
	margin-right: 50px;
	cursor: pointer;
	width: 263px;
	height: 380px;
}
.slide-title{
    font-family: LeagueGothic;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
		color:white;
		text-transform: capitalize;
}
.slide-subtitle{
	font-family: LeagueGothic;
	font-size: 35px;
	color: plum;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
}
.slide-advice{
	color: white;
	font-size: 18px;
	font-family: Nunitosans;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
	line-height: 1.2;
}
.bx-wrapper {
	background: transparent!important;
	border: 5px solid transparent!important;
	box-shadow: none!important;
}
.bx-pager-link.active{
	border-bottom: 3px solid plum;
}
.container-basic{
	width: 100%;
	background-size:cover;
	height: auto;
	background: linear-gradient(to top,#35273c, #765283);
	
}
.about{
	display: flex;
	justify-content: space-around;
	width: 70%;
	height: 100%;
	margin: 0 auto 50px auto;
	position: relative;
}
.about h2{
	font-family: LeagueGothic;
	font-size: 35px;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
	text-transform: uppercase;
	padding: 50px 0 20px 0;
}
.about p{
	color: white;
	font-size: 18px;
	font-family: Nunitosans;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
	line-height: 1.3;
	padding: 0 60px 50px 0;
}
.read-more{
	padding: 0 0 50px 110px ;
}
.read-more a{
	font-family: LeagueGothic;
	color: white;
	text-transform: uppercase !important;
	font-size: 20px;
	text-decoration: none;
}
.read-more:hover{
	text-shadow: 0 0 10px rgb(255, 255, 255);
}
.about-left{
	position: relative;
}
.about-left h2::before{
	content:'';
	background: url(./img/spanner.png);
	width: 32px;
	height: 32px;
	position: absolute;
	left: -50px;
	top: 50px;
}
.about-centr{
	position: relative;
}
.about-centr h2::before{
	content:'';
	background: url(./img/comment.png);
	width: 32px;
	height: 32px;
	position: absolute;
	left: -50px;
	top: 50px;
}
.about-right{
	position: relative;
}
.about-right h2::before{
	content:'';
	background: url(./img/note.png);
	width: 32px;
	height: 32px;
	position: absolute;
	left: -50px;
	top: 50px;
}
.parent-container{
	width: 100%;
	height: auto;
	border-bottom: 1px solid gainsboro;
	margin-top: 50px;
}
.container-items{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.item-slider{
	width: 50%;
	margin-right: 40px;
}
.show{
	padding: 0 20px 10px 50px;
	position: relative;
}
.item-slider h3{
	font-size: 30px;
	text-transform: uppercase;
	font-family: LeagueGothic;
	padding-bottom: 10px;
}	
.item-slider span{
	color: plum;
	padding-left: 10px;
}
.item-slider p{
	font-size: 18px;
	font-family: Nunitosans;
	line-height: 1.5;
	color: dimgray;
}
.wrapper{
	background-color: gainsboro;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	box-shadow: 4px 4px 4px rgb(86, 84, 84);
}
.item-photo{
	position: absolute;
	left: -50px;
	top: 10px;
}
.triangle-down{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid gainsboro;
	position: absolute;
	right: 50px;
	bottom: 0;
}
.item-right{
	width: 50%;
	padding: 20px 0 30px 50px;
}
.item-right h3{
	font-size:30px;
	font-family: LeagueGothic;
	text-transform: uppercase;
	padding-bottom: 10px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
}
.info{
	font-size: 18px;
	font-family: Nunitosans;
	padding-bottom: 20px;
	line-height: 1.5;
	position: relative;
}
.info-link a{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
}
.posted{
	color: dimgray;
	line-height: 1.5;
}
.posted::before{
	content:'';
	background: url(./img/post-img.png);
	width: 48px;
	height: 48px;
	position: absolute;
	left: -60px;
	top: 0;
}
.info-link a{
	text-decoration: none;
	text-align: right;
	text-transform: uppercase;
	font-size: 25px;
	font-family: LeagueGothic;
	color: black;
	display: flex;
	justify-content: end;
	padding-right: 50px;
}
.container-lables{
	width: 50%;
	margin: auto;
}
.first-img{
	display: flex;
	justify-content: space-around;
}
.next-img{
	display: flex;
	justify-content: space-around;
}
.container-bottom{
	margin: 50px;
}
.final-container{
	width: 100%;
	height: auto;
	background: gainsboro;
}
.info-container{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	padding: 50px 0 50px 0;
}
.info-left h2{
	font-size: 70px;
	font-family: LeagueGothic;
	text-transform: uppercase;
	opacity: 0.9;
}
.info-left span{
	font-size: 70px;
	text-transform: uppercase;
	font-family: LeagueGothic;
	opacity: 0.6;
}
.cursive{
	text-transform: capitalize;
	font-family: Nunitosans;
	font-size: 18;
	font-style: italic;
}
.info-left p{
	font-family: Nunitosans;
	font-size: 18px;
	line-height: 1.5;
}
.info-centr{
	padding: 0 35px 0 35px;
}
.info-centr h2{
	font-size: 50px;
	font-family: LeagueGothic;
	opacity: 0.9;
	text-transform: uppercase;
}
.info-centr p{
	font-size: 18px;
	font-family: Nunitosans;
	line-height: 1.5;
}
.info-right h2{
	text-transform: uppercase;
	font-size: 50px;
	font-family: LeagueGothic;
	opacity: 0.9;
}
.info-right p{
	font-size: 18px;
	font-family: Nunitosans;
	line-height: 1.5;
}
.footer{
	background: url(./img/bg-footer.jpg);
	width: 100%;
	height: 114px;
	background-size: cover;
	display: block;
	background-position: center center;
}
.footer-container{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 45px 0;
}
.footer-menu ul{
	display: flex;
}
.footer-menu ul li a{
	text-transform: uppercase;
	color: white !important;
	font-size: 24px;
	font-family: LeagueGothic;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
	text-decoration: none;
	padding: 25px;
}
.footer-menu ul li a:hover{
	color: plum !important;
	text-shadow: 0 0 10px rgb(37, 34, 34);
	transition-duration: 0.5s;
}
.developed a{
	color: white;
	text-decoration: none;
	font-family: Nunitosans;
	padding: 15px;
}
.developed span{
	font-weight: bold;
}
